<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Icon" value="16x16" />
    <add key="Small" value="100x100" />
    <add key="Medium" value="200x200" />
    <add key="Detail" value="400x400" />
    <add key="ImageCachePath" value="App_Data\Images" />
    <add key="ClientCacheMaxAge" value="30.00:00:00" />
  </appSettings>
  
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  
  <system.serviceModel>   
    <services>
      <service behaviorConfiguration="serviceBehaviour" name="TAlex.ImageProxy.ImageProxyService">
        <endpoint
            behaviorConfiguration="web"
            binding="webHttpBinding"
            name="web"
            contract="TAlex.ImageProxy.IImageProxyService" />

        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="serviceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="ImageProxyService.svc" service="TAlex.ImageProxy.ImageProxyService" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>